body {
  font-family: 'Lucida Grande', arial, sans-serif;
  margin: 0;
}

header {
  bos-sizing: box;
  color: #464646;
  cursor: default;
  direction: ltr;
  display: block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: #344758 none repeat scroll 0 0;
}
.top-bar{
  background-attachment: scroll;
  background-clip: border-box; 
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto auto;
  box-sizing: border-box;
  color: #464646;
  cursor: default;
  direction: ltr;
  display: block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 85px;
  line-height: 85px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 1400px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
  text-align: left;
}

ul.title-area{
  margin: 0 0;
  padding: 0 15px;
}

#logo {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto auto;
  box-sizing: border-box;
  color: #70547D;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 25px;
  margin-left: 00px;
  margin-right: 0px;
  margin-top: 25px;
  text-align: left;
  text-decoration: none;
  -moz-text-decoration-color: #70547D;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
}

.error {
  background: #FFEFF7;
  border: 1px solid #c69;
  margin: 1em 5% 10px;
  padding: 0 1em 0 1em;
}

.login-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

#login{
  padding-left: 15px;
  padding-right: 15px;
}

#login input.input {
  width: 200px;
  font-size: large;

}
#login input {
  /*	opacity: 0.6;*/
}
#login h1 {
  color: #70547d;
  font-family: "Open Sans Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.625em;
  margin-top: 18px;
}

#login input#wp-submit, .button {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: #70547D;
  border-bottom-left-radius: 18.65px;
  border-bottom-right-radius: 18.65px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #70547D;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #70547D;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #70547D;
  border-top-left-radius: 18.65px;
  border-top-right-radius: 18.65px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #464646;
  cursor: pointer;
  direction: ltr;
  font-family: "Open Sans Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
  min-width: 160px;
  padding-bottom: 6.4px;
  padding-left: 12.8px;
  padding-right: 12.8px;
  padding-top: 6.4px;
  text-align: center;
  text-decoration: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}
#login input#wp-submit:hover, .parcc-button:hover, .parcc-button:focus {
  background-color: #55405e;
}
#login input#wp-submit:hover, .parcc-button:hover, .parcc-button:focus {
  color: #fff;
}

#login input#wp-submit:hover, .parcc-button:hover {
  background-color: #9777A2;
  text-decoration: none;
}

#login input#wp-submit:hover, .parcc-button:focus, .parcc-button:active {
  background-color: #70547D;
}

input#username.input, input#user_pass.input{
  border: 1px solid #6f7e95;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding-left: 5px;
  margin-right: 7px;
}

#languagebar a {
  color: #aaa;
}
#languagebar {

  color: #eee;
  font-size: 80%;

  margin: 0em auto 1em;
  padding: 0px 40px;

  color: #000;
  width: 425px;
}

div#error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #999999;

  background: #fff;

  margin: 10px auto 1em;
  padding: 8px 20px;

  color: #000;
}

#login ul.links a {
  text-decoration: none;
  color: #666;
}
#login ul.links a:hover {
  color: #111;
}
#login ul.links {
  /*	border: 1px solid #111;*/
  font-family: 'Lucida Grande', arial, sans-serif;
  padding: 0px;
  font-size: 85%;
  list-style-type:square;
  list-style-position: inside;
}
#login ul.links li {
  margin-top: .3em;
}
#login p label {
  font-size: medium;
  color: #222;
  font-weight: bold;
  font-size: 21px;
  display: block;
  padding-bottom: .3em;
}

#login span.instructions{
  line-height: 2em;
}

#login form{
  margin-right: 7px;
}

.form-required {
  box-sizing: border-box;
  color: #F66B16;
  cursor: default;
  direction: ltr;
  font-family: "Open Sans Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-size: 21px;*/
  font-style: normal;
  font-weight: 700;
  /*line-height: 21px;*/
}

#login p.submit input#wp-submit, #login p.submit a{
  display: block;
  margin-bottom: 7px;
  max-width: 180px;
}

@media(min-width: 550px){
  input#username.input, input#user_pass.input{
    width: 520px;
  }
  #login p.submit input#wp-submit, #login p.submit a{
   display: inline-block;
  } 
  #login form{
    margin-right: 0;
  } 
}
